@use "../global.scss" as *;
// @use "../fontawesome/scss/fontawesome.scss" as fa;
// @use "../fontawesome/scss/_variables.scss" as var;

.selfIntro {
  @include flexContainer(column, center, start);
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;

  & > h2 {
    margin: 4rem 0;
    color: $green;
    text-align: center;

    span {
      font-weight: 300;
      color: $black;
    }
  }

  .columns {
    @include flexContainer(row, center, center);
    max-width: 800px;
  }

  .col1 {
    flex: 0.6;
    
    img {
      width: 180px;
      border: 2px solid $yellow;
      border-radius: 100%;
    }
  }

  .col2 {
    flex: 1;

    .logo {
      width: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    .columns {
      flex-direction: column;
      gap: 4rem;
    }
  }
}

.frameworks {
  padding-top: 6rem;
  text-align: center;

  h3 {
    font-weight: 300;

    span {
      font-weight: 600;
      color: $green;
    }
  }

  .logos {
    @include flexContainer(row, center, center);
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2.5rem;

    img {
      width: 60px;
    }

    .next {
      width: 100px;
    }

    .strapi {
      width: 50px;
    }

    .mongodb {
      width: 120px;
      margin-bottom: -10px;
    }

    .mysql {
      width: 120px;
      margin-left: -1.2rem;
    }
  }
}
