@use "../global.scss" as *;

@font-face {
  font-family: "Dancing";
  src: url("/fonts/DancingScript-Regular.ttf");
}

@mixin flex {
  display: flex;
  align-items: center;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 0 2rem;
  transition: 0.3s ease;
  color: $white;
  margin-bottom: -70px;

  h2 {
    flex-grow: 1;
    font-family: "Dancing";
    @include disableSelect;
  }

  div {
    @include flex;
    justify-content: center;
    height: 70px;
    margin: auto;
    margin-top: 0;
    max-width: 1300px;
  }

  ul {
    @include flex;
    align-items: flex-end;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
  }

  li {
    margin-left: 3rem;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: 0.8s ease;
    &:hover {
      color: $yellow;
    }
  }
  
  @media screen and (max-width: 950px) {
    .links {
      display: none;
    }
  }
  
  @media screen and (min-width: 950px) {
    .ham, .navmenu {
      display: none;
    }
  }
}

.darkbg {
  background-color: $blue;
  transition: 0.3s ease;
  color: $black;
  opacity: 0.9;

  a {
    color: $black;
    &:hover {
      color: $darkYellow;
    }
  }
}

.ham {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 4px;

  span {
    height: 2px;
    width: 1.5rem;
    background-color: $red;
    transition: 0.6s ease-in-out;
  }

  .bar1 {
    transform: rotate(45deg) translateX(35%);
    // transform-origin: 14%;
  }

  .bar2 {
    transform: translateX(20px);
    background-color: transparent;
  }

  .bar3 {
    transform: rotate(-45deg) translateX(35%);
    // transform-origin: 14%;
  }
}

.navmenu {
  ul {
    @include flexContainer(column, center, center);
    width: 50px;
    position: fixed;
    top: 120px;
    right: 8%;
  }
}
