@use "../global.scss" as *;

@font-face {
  font-family: "Dancing";
  src: url("/fonts/DancingScript-Regular.ttf");
}

@mixin flex {
  display: flex;
  align-items: center;
}

.navbar {
  // background-color: $blue;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  transition: 0.3s ease;
  color: $white;
  margin-bottom: -70px;

  h2 {
    flex-grow: 1;
    font-family: "Dancing";
    @include disableSelect;
  }

  div {
    @include flex;
    justify-content: flex-end;
    height: 70px;
    margin: auto;
    margin-top: 0;
    max-width: 1300px;
  }

  ul {
    @include flex;
    align-items: flex-end;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
  }

  li {
    margin-left: 3rem;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.darkbg {
  background-color: $blue;
  transition: 0.3s ease;
  color: $black;

  a {
    color: $black;
  }
}
