---
import Layout from "../../layouts/Layout.astro";
import styles from "../../styles/pages/About.module.scss"
---

<Layout title="About">
    <main class={styles.wrap}>
        <h2>Hello, this is</h2>
        <h1>Ryan Leung</h1>
        <h5 class={styles.short}>Web Developer | Day Trader | Music Enthusiast</h5>
    </main>
</Layout>
