---
import Intro from "../../components/Intro.astro";
import Layout from "../../layouts/Layout.astro";
import styles from "../../styles/pages/About.module.scss";
---

<Layout title="About">
    <main>
        <Intro />
    </main>
</Layout>
