---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
    <main class="wrap">
        <h2>Hello</h2>
    </main>
</Layout>

<style>
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
</style>
