---
import AboutMe from "../components/AboutMe.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        <Intro />
        <AboutMe/>
    </main>
</Layout>
