---
import AboutMe from "../components/AboutMe.astro";
import Intro from "../components/Intro.astro";
import Portfolio from "../components/Portfolio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main>
        <Intro />
        <AboutMe />
        <Portfolio />
    </main>
</Layout>
