<section class="selfIntro">
    <h2>About <span>Me</span></h2>
    <div class="columns">
        <div class="col1">
            <img src="/images/Ryan.jpg" alt="Image of Ryan" />
        </div>
        <div class="col2">
            <p>
                Hi! I am a final year student studying at the Hong Kong
                University of Science and Technology, majoring in Information
                Systems in the School of Business and Management.
            </p>
            <br />
            <p>
                I have been developing websites for 3 years now, and I make
                simple and clean looking websites like this one. So if you ever
                need a website, maybe I could help you out :D
            </p>
        </div>
    </div>
    <div class="frameworks">
        <h3>Some <span>technologies</span> that I've used</h3>
        <div class="logos">
            <img src="/svg/next-js.svg" alt="next js logo" class="next" />
            <img src="/svg/react-2.svg" alt="react logo" />
            <img src="/svg/astro.svg" alt="astro logo" />
            <img src="/svg/sass.svg" alt="sass logo" />
            <img src="/svg/wordpress.svg" alt="wordpress logo" />
            <img src="/svg/strapi.svg" alt="strapi logo" class="strapi" />
            <img src="/svg/mongodb.svg" alt="mongodb logo" class="mongodb" />
            <img src="/svg/mysql.svg" alt="mysql logo" class="mysql" />
        </div>
    </div>
</section>

<style lang="scss">
    @use "../styles/global.scss" as *;

    .selfIntro {
        @include flexContainer(column, center, start);
        width: 80%;
        margin: auto;
        z-index: 20;

        & > h2 {
            margin: 4rem 0;
            color: $green;
            text-align: center;

            span {
                font-weight: 300;
                color: $black;
            }
        }

        .columns {
            @include flexContainer(row, center, center);
            max-width: 800px;
        }

        .col1 {
            flex: 0.6;

            img {
                width: 180px;
                border: 2px solid $yellow;
                border-radius: 100%;
            }
        }

        .col2 {
            flex: 1;

            .logo {
                width: 80px;
            }
        }

        @media screen and (max-width: 768px) {
            .columns {
                flex-direction: column;
                gap: 4rem;
            }
        }
    }

    .frameworks {
        padding-top: 6rem;
        text-align: center;
        margin-bottom: 4rem;

        h3 {
            font-weight: 300;

            span {
                font-weight: 600;
                color: $green;
            }
        }

        .logos {
            @include flexContainer(row, center, center);
            flex-wrap: wrap;
            margin-top: 2rem;
            gap: 2.5rem;

            img {
                width: 60px;
            }

            .next {
                width: 100px;
            }

            .strapi {
                width: 50px;
            }

            .mongodb {
                width: 120px;
                margin-bottom: -10px;
            }

            .mysql {
                width: 120px;
                margin-left: -1.2rem;
            }
        }
    }
</style>
