<section id="contact">
    <h2>Contact <span>Me</span></h2>
    <p>It's ok I know no one actually wants to fill out a contact form...</p>
</section>

<style lang="scss">
    @use "../styles/global.scss" as *;

    #contact {
        max-width: 1000px;
        margin: auto;

        h2 {
            color: $green;
            text-align: center;
            margin: 4rem 0;

            span {
                font-weight: 300;
                color: $black;
            }
        }
    }
</style>
