<section class="wrap">
    <h2>Hello, this is</h2>
    <h1>Ryan Leung</h1>
    <h5 class="short">Web Developer | Day Trader | Music Enthusiast</h5>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <img src="/svg/rocket.svg" alt="rocket" class="rocket" />
</section>

<style lang="scss">
    @use "../styles/global.scss" as *;

    .wrap {
        @include flexContainer(column, center, center);
        max-width: 100vw;
        height: 450px;
        background-color: $black;
        text-align: center;
        padding: 0 1rem;
        padding-top: 70px;
        overflow: hidden;

        h1,
        h2 {
            color: $white;
            z-index: 2;
        }

        h1 {
            font-size: 2.2rem;
        }

        h2 {
            font-weight: 300;
        }

        .short {
            margin-top: 2rem;
            color: $yellow;
            font-weight: 300;
            letter-spacing: 0.25rem;
            z-index: 2;
        }

        @media screen and (max-width: 500px) {
            span {
                top: 100%;
            }
        }

        span {
            position: absolute;
            margin-top: -120px;
            top: 100px;
            width: 4px;
            height: 4px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
                0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 1);
            animation: animate 3s linear infinite;
        }

        span::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background: linear-gradient(90deg, #fff, transparent);
        }

        @keyframes animate {
            0% {
                transform: rotate(315deg) translateX(0);
                opacity: 1;
            }
            70% {
                opacity: 1;
            }
            100% {
                transform: rotate(315deg) translateX(-1500px);
                opacity: 0;
            }
        }

        span:nth-child(1) {
            right: 0;
            left: initial;
            animation-delay: 0;
            animation-duration: 1s;
        }

        span:nth-child(2) {
            right: 80px;
            left: initial;
            animation-delay: 0.2s;
            animation-duration: 3s;
        }

        span:nth-child(3) {
            right: 0px;
            left: initial;
            animation-delay: 0.4s;
            animation-duration: 2s;
        }

        span:nth-child(4) {
            right: 180px;
            left: initial;
            animation-delay: 0.6s;
            animation-duration: 1.5s;
        }

        span:nth-child(5) {
            right: 400px;
            left: initial;
            animation-delay: 0.8s;
            animation-duration: 2.5s;
        }

        span:nth-child(6) {
            right: 600px;
            left: initial;
            animation-delay: 1s;
            animation-duration: 3s;
        }

        @keyframes rocket {
            0% {
                transform: translateY(500px) translateX(-200px);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            60% {
                opacity: 1;
            }
            90% {
                opacity: 0;
            }
            100% {
                transform: translateY(20px) translateX(100px);
                opacity: 0;
            }
        }

        .rocket {
            position: absolute;
            top: 0;
            width: 50px;
            animation: rocket 18s linear infinite;
            transform: rotate(10deg);
        }
    }
</style>
