---
import styles from "../styles/components/Intro.module.scss";
---

<section class={styles.wrap}>
    <h2>Hello, this is</h2>
    <h1>Ryan Leung</h1>
    <h5 class={styles.short}>Web Developer | Day Trader | Music Enthusiast</h5>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</section>
