---
import styles from "../styles/Navbar.module.scss";
---

<nav class={styles.navbar}>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>Contact</li>
        </ul>
    </div>
</nav>
