---
import Project from "./Project.astro";
---

<section class="wrap">
    <h2>My <span>Projects</span></h2>
    <ul class="grid">
        <Project 
        name="AIESEC HK Website" 
        description="I revamped the whole design of the website during my year 3. Now it's currently managed by successors."
        frameworks={["WordPress"]}
        />
        <Project 
        name="YS Website" 
        description="Another project that I built during my AIESEC term. A static site built with Elementor."
        frameworks={["WordPress"]}
        />
        <Project 
        name="AIESEC Application Portal" 
        description="A hobby project that mimics a job application site. Built during my year 3 summer holiday."
        frameworks={["Next JS", "Strapi"]}
        />
    </ul>
</section>

<style lang="scss">
    @use "../styles/global.scss" as *;

    .wrap {
        max-width: min(1000px, 90%);
        margin: auto;
        padding-bottom: 4rem;
        
        h2 {
            text-align: center;
            margin: 4rem 0;
            font-weight: 300;

            span {
                font-weight: 600;
                color: $darkYellow;
            }
        }

        ul {
            list-style: none;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-auto-rows: 1fr;
            gap: 1rem;
        }
    }
</style>
