---
export interface Props {
    name: string;
    description?: string;
    frameworks?: string[];
}

const { name, description, frameworks } = Astro.props as Props;
---

<li class="card">
    <h4>
        {name}
        <a href="/"><img src="/svg/arrow-up-right-from-square-solid.svg" alt="arrow icon" /></a>
    </h4>
    <p>{description}</p>
    <div class="frameworks">
        {
            frameworks.map((f) => (
                <>
                    <span>{f}</span>
                </>
            ))
        }
    </div>
</li>

<style lang="scss">
    @use "../styles/global.scss" as *;

    .card {
        @include flexContainer(column, start, start);
        background-color: $white;
        padding: 1.5rem 0.8rem;
        border-radius: 8px;
        transition: all 0.6s ease;

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        h4 {
            margin-bottom: 1.2rem;

            img {
                display: inline;
                margin-left: 0.5rem;
                margin-bottom: -0.1rem;
                width: 1rem;
            }
        }

        p {
            margin-bottom: 2rem;
            flex-grow: 1;
        }

        .frameworks {
            @include flexContainer(row, center, start);
            flex-wrap: wrap;
            gap: 0.5rem;

            span {
                @include disableSelect;
                padding: 4px 8px;
                border: 1px solid $black;
                border-radius: 4px;
                min-width: max-content;
                color: $yellow;
                background-color: $black;
                transition: all 0.6s ease;

                &:hover {
                    border-color: $yellow;
                }
            }
        }
    }
</style>
